SECRET_KEY=changez-moi
DEBUG=True
DATABASE_URL=postgres://utilisateur:motdepasse@localhost:5432/jappandale_db
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=Jappandale <noreply@jappandale.sn>
FRONTEND_URL=http://localhost:5173
PASSWORD_RESET_TIMEOUT=3600
CSRF_TRUSTED_ORIGINS=http://localhost:5173
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
TRUST_PROXY_SSL_HEADER=False
